* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper>* {
  background-color: #eee;
  border-radius: 2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100vw;
  height: 100vh;
}

.wrapper>* {
  grid-column: col-start / span 12;
}

li.user_link {
  cursor: pointer;
}

/* styling nav-bar */

.main-head {
  border-bottom: 1px solid #9a9a9a;
  grid-column: col-start / span 12;
}

/* styling footer */

.main-footer {
  grid-column: col-start / span 12;
  background: #e6eaee;
}

.reply {
  height: 60px;
  width: 100%;
  background-color: #f5f1ee;
  padding: 10px 5px 10px 5px !important;
  margin: 0 !important;
  z-index: 1000;
}

.reply-emojis {
  padding: 5px !important;
}

.reply-emojis i {
  text-align: center;
  padding: 5px 5px 5px 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-recording {
  padding: 5px !important;
}

.reply-recording i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-send {
  padding: 5px !important;
}

.reply-send i {
  text-align: center;
  padding: 5px !important;
  color: #93918f;
  cursor: pointer;
}

.reply-main {
  padding: 2px 5px !important;
}

.reply-main textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: 5px !important;
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
  height: 100%;
  font-size: 16px;
}

.reply-main textarea:focus {
  outline: none;
  border: none;
  text-indent: 5px;
  box-shadow: none;
}

/* styling main-nav */

.main-nav {
  display: none;
}

.user-name {
  border-bottom: 1px solid #9a9a9a;
  padding: 3px;
  font-size: 3rem !important;
}

.users-list {
  grid-row: 2 / 11;
  overflow: scroll;
}

.heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #eee;
  z-index: 1000;
}

.heading-avatar {
  padding: 0;
  cursor: pointer;
}

.heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.heading-name {
  padding: 0 !important;
  cursor: pointer;
}

.heading-name-meta {
  font-weight: 700;
  font-size: 100%;
  padding: 5px;
  padding-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  display: block;
}

.heading-online {
  display: none;
  padding: 0 5px;
  font-size: 12px;
  color: #93918f;
}

.heading-compose {
  padding: 0;
}

.heading-compose i {
  text-align: center;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.heading-dot {
  padding: 0;
  margin-left: 10px;
}

.heading-dot i {
  text-align: right;
  padding: 5px;
  color: #93918f;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #fbfbfb;
}

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #f7f7f7;
  height: auto;
}

.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #f7f7f7;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f2;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: rgba(0, 0, 0, .4);
  vertical-align: baseline;
}

/* styling content */

.content {
  grid-column: col-start / span 12;
  grid-row: 2 / 10;
  overflow: scroll;
}

.message-body {
  border: 1px solid black;
  border-radius: 1px;
}

.message-main-receiver {
  padding: 10px 20px;
  max-width: 60%;
  display: flex;
  justify-content: flex-start;
}

.message-main-sender {
  padding: 10px 20px !important;
  margin-left: 40% !important;
  max-width: 60%;
  display: flex;
  justify-content: flex-end;
}

.receiver {
  width: auto !important;
  padding: 4px 10px 7px !important;
  border-radius: 10px 10px 10px 0;
  background: #ffffff;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  display: inline-block;
  word-wrap: break-word;
}

.sender {
  width: auto !important;
  background: #dcf8c6;
  border-radius: 10px 10px 0 10px;
  padding: 4px 10px 7px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  justify-content: flex-end;
  word-wrap: break-word;
}

.message-text {
  margin: 0 !important;
  padding: 5px !important;
  word-wrap: break-word;
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 0 !important;
}

.message-time {
  margin: 0 !important;
  margin-left: 50px !important;
  font-size: 12px;
  text-align: right;
  color: #9a9a9a;
}

@media (min-width: 300px) {
  .main-head {
    grid-column: col-start 4 / span 12;
  }
  .main-nav {
    grid-column: col-start / span 3;
    grid-row: 1 / 12;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    border-right: 1px solid #9a9a9a;
  }
  .user-list-mobile {
    display: none;
  }
  .content {
    grid-column: col-start 4 / span 10;
    grid-row: 2 / 10;
    display: grid;
    overflow: scroll;
  }
  .main-footer {
    grid-column: col-start 4 / span 10;
  }
  nav ul {
    flex-direction: column;
  }
}
