

<div class="col-md-4 centered-form">
  <div class="centered-form__form">
    <div ng-show="error" class="alert alert-danger">{{$ctrl.errorMessage}}</div>
    <form class="form" ng-submit="$ctrl.login()">
      <div class="form-field">
        <h3>Login</h3>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" name="username" ng-model="$ctrl.loginForm.username" required>
      </div>
      <div class="form-group">
        <label>Password</label>
          <input type="password" class="form-control" name="password" ng-model="$ctrl.loginForm.password" required>
        </div>
        <div>
          <button type="submit" class="btn btn-primary btn-sm" ng-disabled="$ctrl.disabled">Login</button>
          <a class="btn btn-primary" ng-disabled="$ctrl.disabled" href="/#!/register">Register</a>
        </div>
    </form>
  </div>

</div>




<!--

<div class="container">


    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

        <div class="row">
            <div class="iconmelon">
              <svg viewBox="0 0 32 32">
                <g filter="">
                  <use xlink:href="#git"></use>
                </g>
              </svg>
            </div>
        </div>

        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Conversations</div>
            </div>

            <div class="panel-body" >

                <form name="form" id="form" class="form-horizontal" ng-submit="$ctrl.login()">

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="user" type="text" class="form-control" name="user" value="" placeholder="Username" ng-model="$ctrl.loginForm.username" required autofocus>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="password" placeholder="Password" ng-model="$ctrl.loginForm.password" required>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-12 controls">
                            <button type="submit" href="#" class="btn btn-primary pull-right" ng-disabled="$ctrl.disabled"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>
                        <div class="pull-right">
                          click <a ng-disabled="$ctrl.disabled" href="/#!/register">here</a>  to register
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div> -->
